@keyframes playerHit {
    0% {
        background-color: #535353;
    }
    25% {
        background-color: #781a1c;
    }
    50% {
        background-color: #535353;
    }
    75% {
        background-color: #781a1c;
    }
    100% {
        background-color: #535353;
    }
}

body {
    background: #535353;
}

.playerHit {
    animation-name: playerHit;
    animation-duration: 0.75s;
}

#canArena {
    border: 2px solid;
    width: 500px;
    height: 300px;
    background: url(../assets/Backgrounds/farback.gif);
    margin: auto;
    display: block;
}

#scores {
    margin: 10px auto auto;
    color: #bdf5ff;
}

#scores th {
    color: #00b8ff;
}
